.qualification-widget__app {
  font-size: 16px;
  padding: 0;
  font-family: IBMPlexSans, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #222;
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  overflow: hidden;
}
